/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

#container{
    background-image:url(assets/תמונה1.jpg); 
    background-repeat: no-repeat;background-size: cover; 
    height: 100vh;
    margin-top: 15vh;
    opacity: 10; 
    text-align: center;
  
}
